$main-font: 'Barlow';
// $serif-font: 'Emona Cond';
$serif-font: 'Playfair Display';

$duration: 0.3s;

$dark-green-bg: #0F2626;
$milk: #E0E0E0;
$green: #0BB379;

$body-bg: $dark-green-bg;

$container-padding-x-fullhd: 60px;
$container-padding-x-widescreen: 48px;
$container-padding-x-desktop: 32px;
$container-padding-x-tablet: 24px;
$container-padding-x-mobile: 16px;

$container-max-width: 1440px;

$mobile-max-width: 767px;
$tablet-max-width: 1023px;