.block-subscribe-footer {
    // min-height: initial;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    .container {
        &:nth-child(3) {
            max-width: 100%;
            border-top: 1px solid rgba(187, 187, 187, .4);
        }
    }
    .subscribe {
        padding-top: 136px;
        padding-bottom: 136px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include maxw1600 {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        @include responsive {
            padding-top: 104px;
            padding-bottom: 104px;
        }
        @include tablet {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        @include mobile {
            padding-top: 64px;
            padding-bottom: 64px;
        }
        &-form {
            margin-top: 48px;
            width: 100%;
            display: flex;
            justify-content: center;
            @include tablet {
                margin-top: 40px;
            }
            @include mobile {
                margin-top: 32px;
            }
            @include maxw480 {
                flex-direction: column;
            }
        }
        &-input {
            margin-right: 24px;
            padding: 0 24px;
            border-radius: 0;
            border: 1px solid rgba(255, 255, 255, 0.5);
            filter: drop-shadow(2px 2px 12px rgba(0, 0, 0, 0.1));
            font-size: 24px;
            color: #fff;
            background-color: transparent;
            width: 100%;
            max-width: 440px;
            display: block;
            height: 50px;
            @include maxw1600 {
                font-size: 22px;
            }
            @include responsive {
                font-size: 20px;
                height: 48px;
            }
            @include tablet {
                font-size: 18px;
                height: 44px;
                margin-right: 16px;
            }
            @include mobile {
                font-size: 16px;
            }
            @include maxw480 {
                margin-right: 0;
                margin-bottom: 16px;
            }
            &::placeholder {
                opacity: .83;
                // font-size: 24px;
                // font-size: inherit;
            }
        }
    }
    .title {
        &.block-title {
            + .descr {
                margin-top: 24px;
                font-size: 24px;
                max-width: 690px;
                @include maxw1600 {
                    font-size: 22px;
                }
                @include responsive {
                    font-size: 20px;
                }
                @include tablet {
                    font-size: 18px;
                }
                @include mobile {
                    font-size: 16px;
                }
            }
        }
    }
    .footer {
        padding-top: 64px;
        padding-bottom: 64px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 870px;
        width: 100%;
        margin: 0 auto;
        @include tablet {
            grid-template-columns: 1fr 1fr;
            gap: 48px 16px;
            text-align: center;
        }
        @include maxw480 {
            grid-template-columns: 1fr;
        }
    }
    .footer-group {
        &-content {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 12px;
            line-height: 14px;
            @include tablet {
                align-items: center;
                text-align: center;
            }
            @include maxw480 {
                margin-top: 24px;
                font-size: 16px;
                line-height: 1.2;
            }
        }
        h4 {
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            text-transform: uppercase;
            @include mobile {
                font-size: 16px;
                line-height: 1.2;
            }
            @include maxw480 {
                font-size: 20px;
                line-height: 1.4;
            }
        }
        address {
            font-style: normal;
            max-width: 166px;

        }
        a {
            &:not(:last-child) {
                margin-bottom: 12px;
                @include maxw480 {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .socials {
        display: flex;
        align-items: center;
        a {
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 12px;
                @include maxw480 {
                    margin-right: 24px;
                }
            }
        }
    }
}