.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: $duration;
    &.sticky {
        backdrop-filter: blur(8px);
        .container {
            padding-top: 16px;
            @include responsive {
                padding-top: 12px;
            }
        }
        .menu {
            &-elem {
                &:not(:last-child) {
                    margin-right: 40px;
                    @include responsive {
                        margin-right: 24px;
                    }
                    @include tablet {
                        margin-right: 0;
                    }
                }
            }
        }
        .buy {
            opacity: 1;
            pointer-events: auto;
        }
    }
    .container {
        padding-top: 48px;
        padding-bottom: 16px;
        display: grid;
        // grid-template-columns: 1fr auto 1fr;
        grid-template-columns: auto 1fr auto;
        transition: $duration;
        align-items: center;
        @include responsive {
            padding-top: 32px;
            padding-bottom: 12px;
        }
        @include tablet {
            padding-top: 11px;
            display: flex;
            justify-content: space-between;
        }
    }
    .logo-tablet {
        display: none;
        @include tablet {
            display: block;
        }
        img {
            @include mobile {
                width: 80px;
            }
        }
    }
    .logo {
        padding: 0 16px;
        @include responsive {
            padding: 0;
        }
        img {
            @include responsive {
                width: 100px;
            }

        }
    }
    .menu {
        grid-column: 2;
        // padding-left: 80px;
        padding-left: 50px;
        @include tablet {
            position: fixed;
            height: 100vh;
            top: -100vh;
            left: 0;
            right: 0;
            -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
            pointer-events: none;
            transition: $duration;
            opacity: 0;
            padding: 64px 0;
        }
        &-list {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablet {
                flex-direction: column;
                height: 100%;
            }
        }
        &-elem {
            transition: $duration;
            &:not(:last-child) {
                // margin-right: 64px;
                margin-right: 56px;
                @include responsive {
                    margin-right: 36px;
                }
                @include maxw1200 {
                    margin-right: 24px;
                }
                @include tablet {
                    margin-right: 0;
                    margin-bottom: 32px;
                }
            }
            &:not(.logo-elem) {
                @include tablet {
                    order: 2;
                }
            }
            &.logo-elem {
                @include tablet {
                    order: 1;
                    margin-bottom: 64px;
                }
            }
        }

        &-link {
            font-size: 14px;
            line-height: 17px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: .02em;
            color: $milk;
            white-space: nowrap;
            position: relative;
            @include responsive {
                font-size: 12px;
            }
            @include tablet {
                font-size: 18px;
                line-height: 1.2;
            }
            &:after {
                content: '';
                width: 30px;
                height: 1px;
                position: absolute;
                bottom: -9px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: $duration;
                pointer-events: none;
                background-color: $green;
                @include tablet {
                    height: 2px;
                    width: 64px;
                    bottom: -6px;
                }
            }
            &.active,
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    .buy {
        grid-column: 3;
        opacity: 0;
        pointer-events: none;
        transition: $duration;
        margin-left: 32px;
        @include responsive {
            margin-left: 16px;
        }
        @include tablet {
            margin-left: 0;
        }
    }
    .burger-btn {
        display: none;
        width: 28px;
        height: 20px;
        z-index: 2;
        position: relative;
        order: 99;
        margin-left: 82px;
        @include tablet {
            display: block;
        }
        @include mobile {
            margin-left: 52px;
        }
        span {
            display: block;
            position: absolute;
            width: 100%;
            opacity: 1;
            left: 0;
            transform: rotate(0);
            transition: $duration;
            height: 3px;
            background-color: #fff;
            border: .5px solid #fff;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 8px;
            }
            &:nth-child(4) {
                top: 16px;
            }
        }
    }


}

.mobile-menu-open {
    .header {
        &.sticky {
            .btn {
                @include tablet {
                    display: none;
                }
            }
        }
        .menu {
            @include tablet {
                opacity: 1;
                pointer-events: auto;
                top: 0;
            }
        }
    }
    .burger-btn {
        span {
            &:nth-child(1) {
                top: 8px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 8px;
                width: 0%;
                left: 50%;
            }
        }
    }
}
