$main-font: 'Barlow';
$serif-font: 'Emona Cond';

$duration: 0.3s;

$dark-green-bg: #0F2626;

$body-bg: $dark-green-bg;

$container-padding-x-desktop: 32px;
$container-padding-x-tablet: 24px;
$container-padding-x-mobile: 16px;

$container-max-width: 1364px; //1300 + 2*32

$mobile-max-width: 767px;
$tablet-max-width: 1023px;